
body {
	max-width: 1000px;
	/* min-width: 420px; what was this good for? */
	margin: 0 auto;
	padding: 8px;
}

.options-host .pref-title {
	font-size: 120%;
	font-weight: 400;
}
.options-host .pref-description, .value-prefix, .value-suffix {
	font-size: 110%;
	font-weight: 400;
}

.options-host .pref-children {
	border: none;
	padding: 0 0 0 12px;
	margin: 0 0 0 12px;
	border-left: 2px groove grey;
}

.options-host code {
	background-color: lightgray; color: #131314;
	box-shadow: 0 0 1.5px 0 black inset;
	border-radius: 3px;
}

.options-host ul {
	padding-left: 10px;
	margin: 5px 0;
}
.options-host li {
	margin: 3px 0 3px 6px;
	text-indent: -1em; padding-left: 1em;
}

textarea, input:not([type="button"]), select, .checkbox-wrapper > label {
    border-color: #b5b5b5;
}

/* details in checkbox descriptions */
.options-host .value-suffix details[open] { max-width: calc(100% - 40px); }
