
body {
	max-width: 1000px;
	/* min-width: 420px; what was this good for? */
	margin: 0 auto;
	padding: 8px;
}

.options-host .pref-title {
	font-size: 120%;
	font-weight: 400;
}
.options-host .pref-description, .value-prefix, .value-suffix {
	font-size: 110%;
	font-weight: 400;
}

.options-host .pref-children {
	border: none;
	padding: 0 0 0 12px;
	margin: 0 0 0 12px;
	border-left: 2px groove grey;
}

.options-host code {
	background-color: #eee;
	color: #004f9e;
	box-shadow: 0 0 1px 0px black inset;
}

.options-host ul {
	padding-left: 10px;
	margin: 5px 0;
}
.options-host li {
	list-style: none;
	margin: 3px 0;
	text-indent: -5em; padding-left: 5em;
}
