/* general */
* {
	font-family: "Segoe UI", Tahoma, sans-serif;
	box-sizing: border-box;
}
code {
	font-family: monospace;
}
body {
	font-size: 12.5px;
}
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

/* invalid inputs */
textarea.invalid, .invalid textarea,
input.invalid, .invalid input,
select.invalid, .invalid select {
	color: red;
	border-color: red;
}

/* inputs */
textarea, input, select {
	border-style: solid;
	border-width: 1px;
	outline: none;
	border-radius: 3px;
	padding: 2px 7px;
	height: 25px;
}
textarea:focus, input:focus, select:focus,
textarea:focus, input:active:focus, select:active:focus {
	outline: none;
}
textarea:active:focus, input:active:focus, select:active:focus {
	transition-delay: 0.06s;
}
input[type="checkbox"] {
	position: relative;
	vertical-align: bottom;
	width: 25px;
	height: 25px;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input[type="checkbox"]::after {
	content: '\2713'; /* '✓' */
	position: absolute;
	font-weight: bold;
	font-size: 20px;
	top: -14%;
	left: 18%;
}
input[type="checkbox"]:not(:checked)::after {
	color: transparent;
}
input[disabled] {
	opacity: 0.5;
}
.add-value-entry[disabled] {
	display: none;
}

/* spacing */
h1, h3 {
	margin: 8px 0;
}
.value-container {
	margin-bottom: 5px;
}
.value-unit {
	margin-left: 3px;
}

/* sizes */
textarea, input[type="text"]:not([data-type="keybordKey"]) {
	min-width: 500px;
}
textarea {
	min-height: 4.5em;
	max-width: 100%;
}
pre {
	white-space: pre-wrap;
}
.value-input[data-type="interval"] input {
	width: 100px;
}
.value-input[data-type="interval"] b {
	padding: 0 6px;
}
.add-value-entry, .remove-value-entry {
	width: 25px;
	height: 25px;
	margin-right: 5px;
}

/* transitions */
* {
	transition-property: color, fill, background-color, border-color, box-shadow;
	transition-duration: 0.21s;
}

/* collapsing lists */
.toggle-switch>* {
	display: inline-block;
}
input.toggle-switch ~ label.toggle-switch {
	cursor: pointer;
}
.toggle-marker {
	padding-right: 5px;
	transition: transform 0.12s;
	transform-origin: 40% 50%;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
input.toggle-switch:checked ~ *>.toggle-marker {
	transform: rotate(90deg);
}
input.toggle-switch { display: none; }
input.toggle-switch ~ .toggle-target {
	max-height: 0;
	transform: scaleY(0.2);
	transform-origin: top;
	transition-property: max-height, transform;
	transition-duration: 0.12s;
	transition-timing-function: cubic-bezier(1,0,0,1);
	overflow: hidden;
}
input.toggle-switch:checked ~ .toggle-target {
	max-height: 50000px;
	transform: scaleY(1);
}
