/* general */
::selection {
	background-color: black;
	color: #c5ffc7;
	fill: #c5ffc7;
}
::-moz-selection {
	background-color: black;
	color: #c5ffc7;
	fill: #c5ffc7;
}
html, body {
	background-color: #222;
	color: #c5e2ff;
	fill: #c5e2ff;
}
::-webkit-scrollbar {
	background-color: #000;
}
::-webkit-scrollbar-thumb {
	background-color: #666;
}

/* inputs */
textarea, input, select {
	color: white;
	border-color: white;
	background-color: black;
}
textarea:focus, input:focus, select:focus {
	border-color: #7d7dff;
	box-shadow: 0 0 6px 0 #4444ff;
}
textarea:active:focus, input:active:focus, select:active:focus {
	border-color: #0000f0;
	box-shadow: 0 0 2px 1px blue;
}
textarea::selection, input::selection, select::selection {
	background-color: #39f;
	color: white;
}
input[type="checkbox"]::after {
	text-shadow: 0 0 5px green, 0 0 5px green, 0 0 5px green;
}
input[type="checkbox"]:not(:checked)::after {
	color: black;
	text-shadow: 0 0 5px red, 0 0 5px red, 0 0 5px red;
}
input[type="checkbox"]:not([disabled]):hover,
input[type="button"]:not([disabled]):hover,
button:not([disabled]):hover {
	border-color: #7d7dff;
}
textarea[disabled], input[disabled], select[disabled] {
	color: hsl(  0,  0%,  65%);
	border-color: hsl(  0,  0%,  65%);
	background-color: hsl(  0,  0%,  10%);
	-webkit-user-select: none;
	user-select: none;
}
select:not(:hover), _:-moz-tree-row(hover) { /* firefox only */
    -moz-appearance: none;
    padding-right: 25px;
}
input[type="number"]:not(:hover) { /* firefox only */
	-moz-appearance: textfield;
}

/* context menu */
.popup-menu, .submenu {
	background-color: black;
	border-color: #333;
}
.menu-item:hover {
	background-color: #191919;
}

/* invalid inputs */
input.invalid, .invalid input,
select.invalid, .invalid select {
	color: white;
	border-color: red;
	background-color: #210006;
	border-color: red;
	box-shadow: 0 0 15px 0 red;
}

/* special elements */
code {
	background-color: #111;
	color: #ebf5ff;
    box-shadow: 0 0 1px 0px white inset;
    padding: 0 5px;
    border-radius: 2px;
}
a[href] {
	color: #c5ffc7;
}
a[href]:visited {
	color: #ebf5ff;
}
