/* general */
* {
	font-family: "Segoe UI", Tahoma, sans-serif;
	box-sizing: border-box;
}
code {
	font-family: monospace;
}
body {
	font-size: 12.5px;
}
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

/* invalid inputs */
input.invalid, .invalid input,
select.invalid, .invalid select {
	color: red;
	border-color: red;
}

/* inputs */
input, select {
	border-style: solid;
	border-width: 1px;
	outline: none;
	border-radius: 3px;
	padding: 2px 7px;
	height: 25px;
}
input:focus, select:focus,
input:active:focus, select:active:focus {
	outline: none;
}
input:active:focus, select:active:focus {
	transition-delay: 0.06s;
}
input[type="checkbox"] {
	position: relative;
	vertical-align: bottom;
	width: 25px;
	height: 25px;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input[type="checkbox"]::after {
	content: '\2713'; /* '✓' */
	position: absolute;
	left: 33%;
	top: 8%;
}
input[type="checkbox"]:not(:checked)::after {
	color: transparent;
}
input[disabled] {
	opacity: 0.5;
}
.add-value-entry[disabled] {
	display: none;
}

/* spacing */
h1, h3 {
	margin: 8px 0;
}
.value-container {
	margin-bottom: 5px;
}
.value-unit {
	margin-left: 3px;
}

/* sizes */
input[type="text"] {
	min-width: 500px;
}
pre {
	white-space: pre-wrap;
}
.value-input[data-type="interval"] input {
	width: 100px;
}
.value-input[data-type="interval"] b {
	padding: 0 6px;
}
.add-value-entry, .remove-value-entry {
	width: 25px;
	height: 25px;
	margin-right: 5px;
}

/* transitions */
* {
	transition-property: color, fill, background-color, border-color, box-shadow;
	transition-duration: 0.21s;
}
